<div class="scene">
  <div class="nav-bar" id="navBar">
    <div class="nav-item" [class.active]="activeIndex === 0" (click)="onTap(0)">
      <img src="/account.png" alt="" class="nav-icon" />
      <span class="nav-label">HR</span>
    </div>
    <div class="nav-item" [class.active]="activeIndex === 1" (click)="onTap(1)">
      <img src="/todo.png" alt="" class="nav-icon" />
      <span class="nav-label">To Do</span>
    </div>
    <div class="nav-item" [class.active]="activeIndex === 2" (click)="onTap(2)">
      <img src="/allfiles.png" alt="" class="nav-icon" />
      <span class="nav-label">All Files</span>
    </div>
  </div>
</div>
